{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <a href="{{ url('answers') }}" title="answers">&lt;- Back to answers list</a>
    <h2>Edit Answer</h2>
    <div>{{ form_errors(form) }}</div>
    {{ form(form, {'method': 'POST'}) }}
</div>
{% endblock %}