{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock body %}
